<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.css" rel="stylesheet" type="text/css" />
        <title>Address to Municipality</title>
    </head>
    <body>
        <br/>
        <div class="ui page grid">
            <div class="row">
                <div class="eight wide column">
                    <div class="ui cards">
                         <div class="inverted blue card">
                             <div class="content">
                                   <div class="description">
                                        <form method="post" class="ui form">
                                            <div class="field required">
                                                <label>Address</label>
                                                <div class="ui icon input">
                                                  <textarea name="addr" placeholder="Enter your address here..."></textarea>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <input class="ui blue submit button" type="submit" value="Submit"/>
                                            </div>
                                          </form>
                                    </div>
                              </div>
                         </div>
                     </div>
                </div>
                <div class="eight wide column">
                    <div class="ui cards">
                            <span class="top left attached ribbon ui blue label">1</span>
                             <iframe src="/geocode/Uilesntede%20510" height="400" width="100%" style="border:none;overflow: scroll;"></iframe>
                     </div>
                </div>
                <div class="eight wide column">
                    <div class="ui cards">
                            <span class="top left attached ribbon ui blue label">2</span>
                             <iframe src="/PointToNUTS/4.485209/52.157148" height="500" width="500" style="border:none;overflow: scroll;"></iframe>
                     </div>
                </div>
                <div class="eight wide column">
                    <div class="ui cards">
                            <span class="top left attached ribbon ui blue label">3</span>
                             <iframe src="/NUTStoMunicipality/NL326" height="500" width="100%" style="border:none;overflow: scroll;"></iframe>
                     </div>
                </div>
            </div>
        </div>
    </body>
</html>
